header {

.box > * {
    border: 2px solid rgb(168, 127, 96);
    border-radius: 5px;
    background-color: rgba(244, 221, 185, 0.2);
  }
  
  .box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: normal;
    writing-mode: horizontal-tb;
  }

  .box p {
    border: 2px solid rgb(168, 127, 96);
    border-radius: 5px;
    background-color: rgba(152, 75, 7, 0.2);
    padding: 8px 16px;
  }
  
  .wrapper {
    border: 2px solid #f76707;
    border-radius: 5px;
    background-color: #fff4e6;
  }
}

.body {
  background: url("12.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content:center ;
  flex-direction: column;
  background-repeat: no-repeat;
  background-image: url("12.avif");
  background-size: cover;
  background-position: center;
}

.about {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content:center ;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.projects {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.projektIMG {
  width: 100%;
}

.ProjectCard {
  width: 300px;
  border: 2px solid #c7c7c7;
  border-radius: 10px;
  text-align: center;
}

.aboutText {
  width: 400px;
}
.aboutIMG { 
height: 300px;
width: 400px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.wrapper {
  border: 2px solid #f76707;
  border-radius: 5px;
  background-color: #fff4e6;
}

  .github-btn {
    display: inline;
    align-items: center;
    gap: 8px;
    background: #fff4e6;
    color: rgb(60, 6, 6);
    border-radius: 8px;
    font-weight: 300;
    padding: 1px 1px;
    border-color: rgb(60, 6, 6);
    border-style: solid;
  }
  
